// app global css in SCSS form
@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap";

$font-family_1: 'IBM Plex Sans', sans-serif;

body {
	font-family: $font-family_1;
}

.q-field__control {
	border-radius: 10px !important;
}

.q-card {
  border-radius: 10px !important;
}

.q-menu {
  border-radius: 10px;
}
